body{
    background-color: white;
}
img{
    margin:auto;
    max-width:100%;
    height: auto;
}
main{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 7% 15%;
}
form{
    display: flex;
    flex-direction: column;
    align-content: inherit;
    position: relative;
}
header{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}
input{
    display: block;
    border-color: #dfe1e5;
    padding:5px;
    border-radius: 15px;
    border-style: solid;
    margin: 7px auto 40px;
}
input:focus{
    outline: none;
}
button{
    width:fit-content;
}
footer{
    display: block;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    left:0;
    width:100%;
}

footer nav{
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
    justify-items: baseline;
    align-items: center;
}
div#custombutton{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
a{
    text-decoration: none;
    color:#5f6368;
}

#IDCircle img{
    border-radius: 50%;
}

#SearchBar{
    padding:7px 32px;
}

/* #SearchIcon{
    display:unset;
    position: absolute;
    left: 16%;
    bottom: 65%;
} */